@font-face {
  font-family: 'Outline';
  src: url("../css/fonts/dustin_italic_outline-webfont.woff") format("woff"), url("../css/fonts/dustin_italic_outline-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 767px) {
  html, body {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  html, body {
    font-size: 14px;
  }
}

@media (min-width: 1366px) {
  html, body {
    font-size: 16px;
  }
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.block_title, .block_link {
  color: currentColor;
}

.block_link {
  text-decoration: none;
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
}

body.hasHover .block_link:hover {
  letter-spacing: .2rem;
}

.intro {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: #0D0D0D;
  -webkit-animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
          animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
}

.intro-container {
  width: 100%;
  display: block;
  position: relative;
  background-color: #0D0D0D;
  font-family: "Source Sans Pro";
  font-weight: 700;
  -webkit-animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
          animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
}

@media (max-width: 767px) {
  .intro-container {
    height: 520px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .intro-container {
    height: 560px;
  }
}

@media (min-width: 1366px) {
  .intro-container {
    height: 900px;
  }
}

.upper {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-40%, 0);
          transform: translate(-40%, 0);
  -webkit-animation: slideRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: slideRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@media (max-width: 767px) {
  .upper-text {
    left: 0;
    right: 0;
    top: 187px;
    font-size: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .upper-text {
    left: 0;
    right: 0;
    top: 93px;
    font-size: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
  }
}

@media (min-width: 1366px) {
  .upper-text {
    left: 0;
    right: 0;
    top: 145px;
    font-size: 500px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
  }
}

.lower {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(40%, 0);
          transform: translate(40%, 0);
  -webkit-animation: slideLeft 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: slideLeft 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@media (max-width: 767px) {
  .lower-text {
    left: 0;
    right: 0;
    top: -71px;
    font-size: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .lower-text {
    left: 0;
    right: 0;
    top: -178px;
    font-size: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
  }
}

@media (min-width: 1366px) {
  .lower-text {
    left: 0;
    right: 0;
    top: -300px;
    font-size: 500px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
  }
}

@media (max-width: 767px) {
  .divider {
    position: absolute;
    width: 100%;
    top: 260px;
    border: .1px solid black;
    -webkit-animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .divider {
    position: absolute;
    width: 100%;
    top: 280px;
    border: .1px solid black;
    -webkit-animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@media (min-width: 1366px) {
  .divider {
    position: absolute;
    width: 100%;
    top: 450px;
    border: .1px solid black;
    -webkit-animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes lineRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@keyframes lineRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes goaway {
  0% {
  }
  100% {
    height: 0%;
    width: 0%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes goaway {
  0% {
  }
  100% {
    height: 0%;
    width: 0%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */