@font-face {
  font-family: 'Outline';
  src: url("../css/fonts/dustin_italic_outline-webfont.woff") format("woff"), url("../css/fonts/dustin_italic_outline-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  cursor: none;
  --aspect-ratio: 1/1.5;
  --imgwidthmax: 500px;
  --size-title: 10rem;
  color: #0D0D0D;
  font-family: "Montserrat";
  background-color: #0d0d0d;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo-1 {
  --aspect-ratio: 32/17;
  font-size: 1.25rem;
  --size-title: 15vw;
}

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0D0D0D;
}

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: #0D0D0D;
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: #0D0D0D;
  outline: none;
}

a:hover,
a:focus {
  color: #262626;
  outline: none;
}

.page {
  display: -ms-grid;
  display: grid;
  padding: 5vw;
  max-width: 1400px;
  margin: 0 auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: 'header' 'meta' 'grid';
  will-change: transform;
  background-color: white;
}

.page__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  margin: 0 0 1rem;
  font-size: inherit;
  font-weight: 400;
  background-color: white;
}

/* .meta {
	grid-area: meta;
}

.meta--center {
	justify-self: center;
	padding-top: 20vh;
}

.meta__links {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.5;
}

.meta__links a {
	margin: 0 1.5rem 0 0;
} */
.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: grid;
  margin: 25vh 0 30vh;
}

.content--offset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 30vh 10vw;
}

.content--full {
  width: 100vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

.content--padded {
  padding: 0 10vw;
}

.content__item {
  --imgwidth: calc(var(--imgwidthmax) * var(--aspect-ratio));
  width: var(--imgwidth);
  max-width: 100%;
  position: relative;
  will-change: transform;
  margin-bottom: 30vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.content__item--wide {
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.content__item--wide:nth-child(even) {
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.content--center .content__item {
  margin: 0 auto 60vh;
}

.content__item--expand {
  width: 100%;
  -ms-grid-columns: minmax(0, var(--imgwidth)) 1fr;
      grid-template-columns: minmax(0, var(--imgwidth)) 1fr;
}

.content__item--expand:nth-child(even) {
  -ms-grid-columns: 1fr minmax(0, var(--imgwidth));
      grid-template-columns: 1fr minmax(0, var(--imgwidth));
}

.content--alternate .content__item {
  max-width: 90vw;
}

.content--offset .content__item {
  margin: 0 auto 15vh;
}

.content--offset .content__item:nth-child(even) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: -20vh;
}

.content--alternate .content__item:nth-child(even) {
  margin-left: auto;
}

.content__item-imgwrap {
  position: relative;
  --imgwidth: 100%;
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  overflow: hidden;
  width: var(--imgwidth);
  padding-bottom: calc(var(--imgwidth) / (var(--aspect-ratio)));
  will-change: transform;
}

.content__item-imgwrap {
  outline: 1px solid transparent;
}

.content__item--expand .content__item-imgwrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.content__item--expand:nth-child(even) .content__item-imgwrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.content__item-img {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc( -1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 0%;
  will-change: transform;
  opacity: 0.8;
}

.content__item-img--t1 {
  --overflow: 60px;
}

.content__item-img--t2 {
  --overflow: 80px;
}

.content__item-img--t3 {
  --overflow: 120px;
}

.content__item-number {
  opacity: 0.03;
  font-size: 25vw;
  font-family: "Space Mono";
  position: absolute;
  top: -7vw;
  right: -10vw;
  line-height: 1;
}

.content__item:nth-child(even) .content__item-number {
  right: auto;
  left: -7vw;
}

.content__item-title {
  position: relative;
  font-size: var(--size-title);
  padding: 0 3vw;
  margin: calc(var(--size-title) * -1/2) 0 0 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  line-height: 1;
  font-family: "Space Mono";
  /* font-family: var(--font-title); */
  font-weight: 700;
  color: #262626;
  will-change: transform;
  mix-blend-mode: var(--blendmode-title);
}

.content--center .content__item-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  margin: auto;
}

.content__item-title--layer {
  padding: 0;
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  text-align: center;
}

.content__item-description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 3 / 3;
  width: 70%;
  position: relative;
  margin: 0;
  padding: 1rem 0 0 0;
  color: #0D0D0D;
}

.content--alternate .content__item-title,
.content__item--wide:nth-child(even) .content__item-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
}

.content--alternate .content__item:nth-child(even) .content__item-title,
.content__item--wide .content__item-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
  width: auto;
}

.content__item--expand .content__item-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0 2rem;
  width: 250px;
  font-size: 0.9rem;
}

.content__item--expand:nth-child(even) .content__item-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

.content__item-deco {
  position: absolute;
  top: 2rem;
  left: 10vw;
  height: 30%;
  width: 1px;
  background: #d79612;
}

@media screen and (min-width: 53em) {
  .page--layout-1 {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
        grid-template-areas: 'header header' '...  meta' 'grid grid';
  }
  .page--layout-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'header meta' '...  meta' 'grid grid';
  }
}

@media screen and (max-width: 40em) {
  .content__item--expand .content__item-imgwrap,
  .content__item--expand:nth-child(even) .content__item-imgwrap {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
  }
  .content__item--expand .content__item-description,
  .content__item--expand:nth-child(even) .content__item-description,
  .content__item--wide .content__item-description,
  .content__item--wide:nth-child(even) .content__item-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    padding: 1rem 0;
    width: 100%;
    text-align: left;
  }
  .content__item--wide .content__item-description {
    padding: 1rem;
  }
  .content--alternate .content__item-title,
  .content--alternate .content__item:nth-child(even) .content__item-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 4 / 2;
  }
}

@media (max-width: 767px) {
  html, body {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  html, body {
    font-size: 14px;
  }
}

@media (min-width: 1366px) {
  html, body {
    font-size: 16px;
  }
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.block_title, .block_link {
  color: currentColor;
}

.block_link {
  text-decoration: none;
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
}

.block_link:hover {
  letter-spacing: .2rem;
}

.intro {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: #0D0D0D;
  -webkit-animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
          animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
}

.intro-container {
  width: 100%;
  display: block;
  position: relative;
  background-color: #0D0D0D;
  font-family: "Source Sans Pro";
  font-weight: 700;
  -webkit-animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
          animation: goaway 1s cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
}

@media (max-width: 767px) {
  .intro-container {
    height: 520px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .intro-container {
    height: 560px;
  }
}

@media (min-width: 1366px) {
  .intro-container {
    height: 900px;
  }
}

.upper {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-40%, 0);
          transform: translate(-40%, 0);
  -webkit-animation: slideRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: slideRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@media (max-width: 767px) {
  .upper-text {
    left: 0;
    right: 0;
    top: 187px;
    font-size: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
    font-family: "Montserrat";
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .upper-text {
    left: 0;
    right: 0;
    top: 93px;
    font-size: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
    font-family: "Montserrat";
  }
}

@media (min-width: 1366px) {
  .upper-text {
    left: 0;
    right: 0;
    top: 145px;
    font-size: 500px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
    font-family: "Montserrat";
  }
}

.lower {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(40%, 0);
          transform: translate(40%, 0);
  -webkit-animation: slideLeft 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: slideLeft 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@media (max-width: 767px) {
  .lower-text {
    left: 0;
    right: 0;
    top: -71px;
    font-size: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
    font-family: "Montserrat";
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .lower-text {
    left: 0;
    right: 0;
    top: -178px;
    font-size: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
    font-family: "Montserrat";
  }
}

@media (min-width: 1366px) {
  .lower-text {
    left: 0;
    right: 0;
    top: -300px;
    font-size: 500px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    color: #262626;
    font-family: "Montserrat";
  }
}

@media (max-width: 767px) {
  .divider {
    position: absolute;
    width: 100%;
    top: 260px;
    border: .1px solid black;
    -webkit-animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .divider {
    position: absolute;
    width: 100%;
    top: 280px;
    border: .1px solid black;
    -webkit-animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@media (min-width: 1366px) {
  .divider {
    position: absolute;
    width: 100%;
    top: 450px;
    border: .1px solid black;
    -webkit-animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: lineRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes lineRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@keyframes lineRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes goaway {
  0% {
  }
  100% {
    height: 0%;
    width: 0%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes goaway {
  0% {
  }
  100% {
    height: 0%;
    width: 0%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

#header {
  opacity: 0;
  -webkit-animation: appearfullscroll 2s ease 2s forwards;
          animation: appearfullscroll 2s ease 2s forwards;
}

.nav-header {
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background-color: transparent;
  mix-blend-mode: difference;
}

.nav-header a {
  text-decoration: none;
  color: white;
}

.nav-header .nav-menu, .nav-header .nav-toggle {
  -ms-grid-column-align: end;
      justify-self: end;
  list-style-type: none;
  margin: 0;
}

.nav-header .nav-menu-link, .nav-header .nav-toggle-link {
  display: inline-block;
  margin: 1rem;
}

.nav-header .logo, .nav-header .nav-toggle {
  margin: 1rem;
}

@-webkit-keyframes appearfullscroll {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@keyframes appearfullscroll {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@media (max-width: 767px) {
  .nav-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    width: 100%;
    background-color: transparent;
    mix-blend-mode: difference;
  }
  .nav-menu {
    display: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .nav-menu-link {
    width: 100%;
    font-size: 3rem;
  }
  .nav-menu .nav-toggle {
    display: none;
  }
  .active-header {
    height: 100vh;
    background-color: #0D0D0D;
    mix-blend-mode: normal;
  }
  .active-menu {
    display: block;
  }
  .active-menu .nav-menu-link {
    margin: 50px;
    margin-left: 0;
    padding: 0;
  }
  .active-menu .nav-menu-link a {
    color: white;
  }
  @-webkit-keyframes responsive-header {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes responsive-header {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .nav-toggle {
    display: none;
  }
}

@media (min-width: 1366px) {
  .nav-toggle {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */