.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
}

.custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
}

.block_title, .block_link {
    color: currentColor;
}


.block_link {
    // padding: 1rem;
    text-decoration: none;
    transition: letter-spacing 200ms ease;
}

.block_link:hover{
    letter-spacing: .2rem;
}