@mixin responsive-nav {
    @include mobile{
        .nav-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px;
        width: 100%;
        background-color: transparent;
        mix-blend-mode: difference;
        }

        .nav-menu{
            display: none;
            grid-column: 1/3;
            width: 100%;
            text-align: center;
            padding: 0;
            &-link{
                width: 100%;
                font-size: 3rem;
            }

            .nav-toggle{
                display: none;
            }
        }

        .active-header{
            height: 100vh;
            background-color: $primary-col;
            mix-blend-mode: normal;
            // animation: responsive-header .3s ease;
        }

        .active-menu{
            display: block;

            .nav-menu-link{
                margin: 50px;
                margin-left: 0;
                padding: 0;

                a{
                    color: white;
                }
            }
        }

        @keyframes responsive-header{
            0%{
                opacity: 0;
                transform: translateY(-100vh);
            }
            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @include tablet{
        .nav-toggle{
            display: none;
        }
    }

    @include desktop{
        .nav-toggle{
            display: none;
        }
    }
}

#header{
    opacity: 0;
    animation: appearfullscroll 2s ease 2s forwards; 
}

.nav-header{
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: transparent;
    mix-blend-mode: difference;

    a{
        text-decoration: none;
        color: white;
    }

    .nav-menu, .nav-toggle{
        justify-self: end;
        list-style-type: none;
        margin: 0;

        &-link{
            display: inline-block;
            margin: 1rem;
        }
    }

    .logo, .nav-toggle{
        margin: 1rem;
    }

}

@keyframes appearfullscroll{
    0%{
        opacity: 0;
        visibility: hidden;  
        display: none;
    }
    100%{
        opacity: 1;
        visibility: visible;
        display: block;
    }
}

@include responsive-nav();