$easing: cubic-bezier(0.19, 1, 0.22, 1);

@mixin upper-lower($top, $x, $animate){
    position: absolute;
    height: 50%;
    width: 100%;
    top: $top;
    overflow: hidden;
    opacity: 0;
    transform: translate($x, 0);
    animation: #{$animate} 2s $easing forwards;
}

@mixin upper-lower-txt($top_t, $font_t){
        left:0;
        right:0;
        top:$top_t;
        font-size: $font_t;
        margin-left: auto;  
        margin-right: auto;
        position: absolute;
        text-align: center;
        color: $secondary-col;
        font-family: $text;
}

@mixin divider($top_d) {
    position: absolute;
    width: 100%;
    top: $top_d;
    border: .1px solid black;
    animation: lineRight 2s $easing forwards;    
}

@mixin text-animation($animation-name, $initial-x, $final-x){
    @keyframes #{$animation-name}{
        0% {
            opacity: 0;
            transform: translate(#{$initial-x}, 0);
        }
        60% {
            opacity: 1;
            transform: translate(0, 0);
        }
        100%{
            opacity: 0;
            transform: translate(#{$final-x}, 0);
            overflow: hidden;    
            display: none;
            visibility: hidden;
        }
    }
}

.intro{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: $primary-col;
    animation: goaway 1s $easing 2s forwards;

    &-container{
        @include mobile{
            height: 520px;
        }
        @include tablet{
            height: 560px;
        }
        @include desktop{
            height: 900px;
        }
        width:100%;
        display: block;
        position: relative;
        background-color: $primary-col;
        font-family: $headings;
        font-weight: 700;
        animation: goaway 1s $easing 2s forwards;
    }
}


.upper{
    @include upper-lower(0, -40%, slideRight);

    &-text{
        @include mobile{
            @include upper-lower-txt(187px, 120px);
        }
        @include tablet{
            @include upper-lower-txt(93px, 300px);
        }
        @include desktop{
            @include upper-lower-txt(145px, 500px);
        }
    }
}


.lower{
    @include upper-lower(50%, 40%, slideLeft);

    &-text{
        @include mobile{
            @include upper-lower-txt(-71px, 120px);
        }
        @include tablet{
            @include upper-lower-txt(-178px, 300px);
        }
        @include desktop{
            @include upper-lower-txt(-300px, 500px);
        }
    }
}


.divider{
    @include mobile{
        @include divider(260px);
    }

    @include tablet{
        @include divider(280px);
    }

    @include desktop{
        @include divider(450px);
    }
}

@include text-animation(slideRight, -40%, 40%);
@include text-animation(slideLeft, 40%, -40%);
@include text-animation(lineRight, -25%, 0%);

@keyframes goaway{
    0%{
    }
  
    100%{
        height: 0%;
        width: 0%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

